ion-content {
    --background: var(--ankamantatra-theme);
}

ion-title {
    font-family: Playwrite;
}

ion-toolbar {
    --background: var(--ankamantatra-theme-color);
}

ion-card {
    background: transparent;
    font-family: Playwrite;
}

ion-card-content {
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    position: relative;

    strong {
        color: #57a6ff;
    }
}

.content-vide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #7c7c7c;
    font-weight: bolder;
    opacity: 0.5;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}