<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/"></ion-back-button>
    <ion-title>Kaonty</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="div-center">
    <ion-title>Hanova Kaonty</ion-title>
    <ion-input label="Anarana hoentinao" color="success" label-placement="floating" fill="outline" placeholder="Adikao eto ..."></ion-input>
    <ion-input label="Adiresy mailaka" color="success" label-placement="floating" fill="outline" placeholder="Adikao eto ..."></ion-input>
    <ion-input label="Teny miafina" color="success" label-placement="floating" fill="outline" placeholder="Adikao eto ..."></ion-input>
    <ion-button expand="block" class="submit">Ovaina</ion-button>
    <ion-button expand="block" class="annuler" fill="outline" [routerLink]="'/'">Hiverina</ion-button>
  </div>
</ion-content>