<ion-header [translucent]="true">
  <div class="tool-bar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ankamantatra</ion-title>
  </div>
</ion-header>

<div class="ion-content" scroll-y="false">
  <swiper [slidesPerView]="1" [direction]="'vertical'" (slideChange)="onSlideChange($event)" #swiperInstance>

    <ng-template *ngFor="let item of data" swiperSlide>
      <div id="video-container" style="background-image: url('assets/img/exemple.jpeg');">
        <div class="action-buttons">
          <div class="icon" (click)="like(item.id, $event)"><ion-icon name="heart"></ion-icon> <span>{{ item.Reactions.length == 0 ? '' : item.Reactions.length }}</span></div>
          <div class="icon" (click)="answer(item, $event)"><ion-icon name="chatbubbles"></ion-icon> <span>{{ item.Responses.length == 0 ? '' : item.Responses.length }}</span></div>
          <div class="icon" (click)="save(item.id, $event)"><ion-icon name="bookmark" class="icon"></ion-icon> <span>{{ item.Enregistrements.length == 0 ? '' : item.Enregistrements.length }}</span> </div>
          
          
        </div>
        <div class="ank">
          <div class="ask">inona ary izany oh?</div>
          <p class="apos apos1">"</p>
          <p class="contenu">
            <span>
              {{ item.content }}
            </span>
          </p>
          <p class="apos apos2">"</p>
        </div>
      </div>
    </ng-template>

    <ng-template class="loading" swiperSlide>
      <div id="video-container" class="wait-loading">
        <ion-spinner name="lines-sharp"></ion-spinner>
      </div>
    </ng-template>

  </swiper>
  <div class="nav-button">
    <ion-icon name="arrow-up-circle-outline" size="large" (click)="swiperInstance.swiperRef.slidePrev()"></ion-icon>
    <ion-icon name="arrow-down-circle-outline" size="large" (click)="swiperInstance.swiperRef.slideNext()"></ion-icon>
  </div>
</div>