<div class="login">
  <div class="div-top"></div>
  <div class="div-center">
    <ion-title>Ankamantatra</ion-title>
    <ion-input label="Anarana hoentinao" [(ngModel)]="username" color="success" label-placement="floating" fill="outline" placeholder="Adikao eto ..."></ion-input>
    <ion-button expand="block" class="connect" (click)="login()">Hiditra</ion-button>
  </div>
  <div class="div-bottom" [routerLink]="'/login-pro'">Manana kaonty manokana ?</div>
</div>
<div class="loading-container" *ngIf="showLoading">
  <ion-spinner name="lines-sharp"></ion-spinner>
</div>
