ion-content, ion-card {
    --background: var(--ankamantatra-theme);
}

ion-title, ion-button, ion-textarea, ion-select, ion-select-option {
    font-family: Playwrite;
}

ion-button {
    text-transform: capitalize;
    --color: white;
}

.annuler {
    --border-color: var(--ankamantatra-theme-color);
}

ion-toolbar, .publier {
    --background: var(--ankamantatra-theme-color);
}