<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Hanontany</ion-title>
    <ion-back-button slot="start" defaultHref="/"> back</ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card>
    <ion-card-content>
      <ion-card-subtitle>Mametraha ankamantatra ho an'ireo namana mpikambana ato.</ion-card-subtitle> <br>
      <ion-textarea color="success" [(ngModel)]="textContent" (change)="textContentChange()" label="Inona ary izany? ..." [autoGrow]="true" labelPlacement="floating" fill="outline" placeholder="Adikao eto..."></ion-textarea> <br>
      <ion-card-subtitle>Valiny</ion-card-subtitle>
      <ion-input label="Valiny" [(ngModel)]="response" color="success" label-placement="floating" fill="outline" placeholder="Adikao eto ..."></ion-input>
        <ion-select label="Sokajy" *ngIf="categoryList" [(ngModel)]="category" placeholder="Faritra">
          <ion-select-option *ngFor="let item of categoryList" [value]="item.id">{{item.region}}</ion-select-option>
        </ion-select>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" class="publier" (click)="createAnkamantatra()">Alefa</ion-button> 
  <ion-button fill="outline" class="annuler" expand="block" (click)="cancel()">Hiverina</ion-button> 
  
</ion-content>
<app-loading *ngIf="showLoading"/>