ion-content, ion-card {
    --background: var(--ankamantatra-theme);
}

ion-title, ion-button, ion-textarea, ion-select, ion-select-option, ion-card-subtitle {
    font-family: Playwrite;
}

ion-button {
    text-transform: capitalize;
    --color: white;
    max-width: 500px;
    margin: 5px auto;
}

ion-card {
    max-width: 500px;
    margin: 20px auto;
}

.annuler {
    --border-color: var(--ankamantatra-theme-color);
}

ion-toolbar, .publier {
    --background: var(--ankamantatra-theme-color);
}