ion-content {
    --background: var(--ankamantatra-theme);
}

ion-title {
    font-family: Playwrite;
}

ion-toolbar {
    --background: var(--ankamantatra-theme-color);
}

.content {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.content-vide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #7c7c7c;
    font-weight: bolder;
    opacity: 0.5;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

ion-card {
    max-width: 200px;
    width: 40%;
    height: 45%;
    background: transparent;
}

ion-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: var(--ankamantatra-theme-color-opacity);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    position: relative;
    
    p {
        // white-space: nowrap;
        max-height: 100%;
        overflow: hidden;
        text-align: justify;
        text-overflow: ellipsis;
        font-family: 'Playwrite';

        span {
            font-family: 'Coustard';
            font-weight: bold;
            font-size: 14pt;
        }
    }

    .badge {
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        gap: 2px;
        align-items: center;
        margin: 2px;
    }

    .profil {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 2px;
    }

}