<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/"></ion-back-button>
    <ion-title>Notahirizina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div *ngIf="data && data.length!=0" class="content">

    <ion-card *ngFor="let item of data">
      <ion-card-content>
        <div class="badge"> <ion-badge><ion-icon name="heart-outline"></ion-icon> {{ item.Ankamantatra.Reactions.length }}</ion-badge> <ion-badge color="success"><ion-icon name="chatbubbles-outline"></ion-icon> {{ item.Ankamantatra.Responses.length }}</ion-badge></div>
        <p>
          <span>"</span>
          {{ truncateWords(item.Ankamantatra.content) }}
          <span>"</span>
        </p>
        <div class="profil"> <p>{{ truncateName(item.Ankamantatra.User.name) }}</p></div>
      </ion-card-content>
    </ion-card>

  </div>

  <div *ngIf="data && data.length == 0" class="content-vide">
    <div>
      <ion-icon size="large" name="bookmark-outline"></ion-icon>
      <p>Tsy mbola nisy notahirizinao</p>
    </div>
  </div>

</ion-content>
