<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/"></ion-back-button>
    <ion-title>Notahirizina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="content">

    <ion-card>
      <ion-card-content>
        <p>
          <span>"</span>
          {{ truncateWords("Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam maiores minima suscipit iusto sint. Qui alias perferendis labore, magni tenetur quasi eligendi deleniti neque reiciendis accusamus, quam, ea iure soluta asperiores eos! Ad, sit. Exercitationem tenetur voluptate ipsa repudiandae quo maxime necessitatibus, reprehenderit temporibus") }}
          <span>"</span>
        </p>
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>
