.login {
    width: 100vw;
    height: 100vh;
    background: var(--ankamantatra-theme);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Playwrite;
    font-size: 10pt;
    
    div {
        // border: red solid 1px;
        width: 100%;
        padding: 5px;
        max-width: 500px;
        
        ion-input, ion-button {
            font-family: Playwrite;
            margin-top: 5px;
        }

        ion-button {
            text-transform: capitalize;
            color: white;
        }

        .connect {
            --background: var(--ankamantatra-theme-color);
        }

        .annuler {
            --border-color: var(--ankamantatra-theme-color);
        }
    }

    ion-title {
    --color: var(--ankamantatra-theme-color);
    }
    
    ion-title, .div-bottom {
        text-align: center;
    }

    .div-bottom {
        opacity: 0.7;
    }
    
}