<div class="login">
  <div class="div-top"></div>
  <div class="div-center">
    <ion-title>Ankamantatra</ion-title>
    <ion-input label="Adiresy mailaka" color="success" label-placement="floating" fill="outline" placeholder="Adikao eto ..."></ion-input>
    <ion-input label="Teny miafina" color="success" label-placement="floating" fill="outline" placeholder="Adikao eto ..."></ion-input>
    <ion-button expand="block" class="connect">Hiditra</ion-button>
    <ion-button expand="block" [routerLink]="'/login'" class="annuler" fill="outline">Hiditra tsotra</ion-button>
  </div>
  <div class="div-bottom">Hadino teny miafina ?</div>
</div>